<%- include("partials/header") %>

<main>

    <h1><%= title %></h1>

    <section class="card">

        <ul>
          <% categories.forEach(category => { %>
              <li><%= category.name %></li>
          <% }) %>
       </ul>

    </section>

</main>

<%- include("partials/footer") %>