<%- include("partials/header") %>

<main>

    <h1><%= title %></h1>

    <section class="card">

       <ul>
          <% if (categories.length > 0) { %>
             <% categories.forEach(category => { %>
                 <li><%= category.name %></li>
             <% }) %>
             <% } else { %>
                 <li>No categories available.</li>
             <% } %>
       </ul>
    </section>

</main>

<%- include("partials/footer") %>