<%- include("partials/header") %>

<main>

<h1><%= title %></h1>

<ul>

    <li>Community Food Drive</li>

    <li>Neighborhood Cleanup</li>

    <li>Tree Planting Initiative</li>

    <li>School Supply Collection</li>

    <li>Senior Citizen Assistance Program</li>

</ul>

</main>

<%- include("partials/footer") %>